.container {
  display: flex;
  justify-content: center;
}

.headerTitle {
  text-align: center;
  font-family: "cursive";
}

.wrapper {
  width: 40%;
  padding: 10px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}

.input {
  border: none;
  font-size: 15px;
  background-color: rgb(184, 232, 220);
  border-bottom: 1px solid gray;
  outline: none;
}

.textExtra {
  background-color: rgb(184, 232, 220);
}

.priceContainer {
  display: flex;
  justify-content: space-between;
}

.inputSm {
  width: 25%;
}

.extra {
  display: flex;
  justify-content: space-between;
}

.extraItems {
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
}

.extraItem {
  padding: 5px;
  font-size: 14px;
  border: 1px solid tomato;
  background-color: white;
  color: tomato;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.addButton {
  width: 25%;
  border: none;
  background-color: teal;
  color: white;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 0;
  align-self: flex-end;
}

@media only screen and (max-width: 600px) {
  .container {
    min-height: calc(100vh - 60px);
    margin-top: 60px;
  }
  .wrapper {
    width: 100%;
  }
  .headerTitle {
    white-space: nowrap;
  }
}
