.container {
  padding: 50px;
  display: flex;
}

.item {
  flex: 1;
}

.table {
  width: 100%;
  border-spacing: 20px;
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.headerTitle {
  text-align: center;
  font-family: "cursive";
}

.button:first-child {
  background-color: teal;
  margin-right: 10px;
}

.button:last-child {
  background-color: crimson;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
